.icon-fb{
    background:url(../icon/social-fb.png) no-repeat center center transparent;
}
.icon-yt{
    background:url(../icon/social-yt.png) no-repeat center center transparent;
}
.icon-tw{
    background:url(../icon/social-tw.png) no-repeat center center transparent;
}
.icon-insta{
    background:url(../icon/social-insta.png) no-repeat center center transparent;
}
.icon-fb{
    background:url(../icon/social-fb.png) no-repeat center center transparent;
}
.icon-pin{
    background:url(../icon/social-pin.png) no-repeat center center transparent;
}